.w{
  margin: auto;
  width: 1200px;
}

.ellipsis1{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipsis2{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.bill-action{
  margin-top: 20px;
  margin-bottom: 30px;
}

.form-button-box{
  margin: 47px auto 20px;
  text-align: center;
  .el-button{
    margin-right: 30px;
  }
}
